RewriteEngine on
RewriteCond $1 !^(index\.php|data|admins)
RewriteRule ^(.*)$  /inyourface/index.php/$1 [L]
#隐藏index.php 防止重定义data，admins文件夹
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>
